name: Build & test on ubuntu

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup .NET Core SDK 3.1.x
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '3.1.x'
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal

  sanitycheck:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup .NET Core SDK 5.0.x
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '5.0.x'
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: fsharpLint
        run: |
          dotnet tool install --global dotnet-fsharplint --version 0.20.0

          # path taken from https://stackoverflow.com/a/65367006/544947
          $HOME/.dotnet/tools/dotnet-fsharplint lint NOnion.sln

      # FIXME: use `continue-on-error: true` when we figure out how to have a
      #        visual warning icon (instead of green tick) on GitHubActionsCI
      - name: fantomless
        run: |
          dotnet tool install --global fantomless-tool --version 4.5.7.2

          # path taken from https://stackoverflow.com/a/65367006/544947
          $HOME/.dotnet/tools/fantomless --recurse .
          git diff --exit-code

  package:
    needs: sanitycheck
    runs-on: ubuntu-20.04
    env:
      BASE_VERSION: "0.1.0"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup .NET Core SDK 3.1.x
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: '3.1.x'
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Package
        run: |
          git clone https://github.com/nblockchain/fsx
          cd fsx
          sudo ./scripts/CI/install_mono_from_microsoft_deb_packages.sh
          cd ../NOnion
          ../fsx/Tools/nugetPush.fsx $BASE_VERSION ${{secrets.NUGET_API_KEY}}

